<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAP</title>
</head>
<body>
<h1>SAP</h1>
<div>
    Total People: {{total_people}}
</div>
<div>
    <a href="/add">Add</a>
</div>
<div>
    <table borde="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
                <tr>
                    <td>{{person.id}}</td>
                    <td>{{person.name}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.email}}</td>
                    <td><a href="get/{{person.id}}">Get Detail</a></td>
                    <td><a href="edit/{{person.id}}">Edit</a></td>
                    <td><a href="delete/{{person.id}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>